 &CONTROL
  calculation = 'vc-relax' ,
  outdir = './tmp' ,
  prefix = 'CuAu_L10',
  pseudo_dir = './' ,
  tprnfor = .True.,
  tstress = .True.,
 /
 &SYSTEM
  ibrav = 1,
  celldm(1) = {alat},
  nat = 2,
  ntyp = 2,
  ecutwfc = 50,
  ecutrho = 500,
  occupations = 'smearing',
  smearing = 'cold',
  degauss = 0.025,
 /
 &ELECTRONS
  diagonalization = 'david',
  conv_thr = 1.D-8,
  mixing_beta = 0.7,
 /
 &IONS
  ion_dynamics = 'bfgs',
 /
 &CELL
  cell_dynamics = 'bfgs',
  cell_factor = 2.0,
  press = 0.0,
 /
ATOMIC_SPECIES
   Au   196.97  Au.pbe-dn-rrkjus_psl.0.1.UPF
   Cu   63.546  Cu.pbe-dn-rrkjus_psl.0.2.UPF 
ATOMIC_POSITIONS crystal 
   Cu      0.0    0.0    0.0 
   Cu      0.5    0.0    0.5
   Au      0.0    0.5    0.5
   Au      0.5    0.5    0.0
K_POINTS automatic 
  {k1} {k1} {k3}   0 0 0 

