 &CONTROL
  calculation = 'scf' ,
  outdir = './tmp' ,
  prefix = 'Fe_bcc',
  pseudo_dir = './' ,
  tprnfor = .True.,
  tstress = .True.,
 /
 &SYSTEM
  ibrav = 3,
  celldm(1) = {alat},
  nat = 1,
  ntyp = 1,
  ecutwfc = 50,
  ecutrho = 250,
  nspin = 2,
  starting_magnetization(1) = 0.7,
  occupations = 'smearing',
  smearing = 'cold',
  degauss = 0.025,
 /
 &ELECTRONS
  diagonalization = 'david',
  conv_thr = 1.D-8,
  mixing_beta = 0.7,
 /
ATOMIC_SPECIES
   Fe   55.85  Fe.pbe-spn-kjpaw_psl.0.2.1.UPF
ATOMIC_POSITIONS crystal 
   Fe      0.0    0.0    0.0    
K_POINTS automatic 
  {k} {k} {k}   0 0 0 

