 &CONTROL
  calculation = 'scf' ,
  outdir = './tmp' ,
  prefix = 'Fe_bcc',
  pseudo_dir = './' ,
  tprnfor = .True.,
  tstress = .True.,
 /
 &SYSTEM
  ibrav = 4,
  celldm(1) = {alat},
  celldm(3) = {calat},
  nat = 2,
  ntyp = 1,
  ecutwfc = 40,
  ecutrho = 400,
  nspin = 2,
  starting_magnetization(1) = 0.7,
  occupations = 'smearing',
  smearing = 'cold',
  degauss = 0.025,
 /
 &ELECTRONS
  diagonalization = 'david',
  conv_thr = 1.D-8,
  mixing_beta = 0.7,
 /
ATOMIC_SPECIES
   Fe   55.85  Fe.pbe-nd-rrkjus.UPF
ATOMIC_POSITIONS crystal 
   Fe      0.333333333333    0.666666666667    0.25
   Fe      0.666666666667    0.333333333333    0.75    
K_POINTS automatic 
  {k1} {k1} {k3}  0 0 0

