 &CONTROL
                 calculation = 'scf' ,
                      outdir = './tmp' ,
                  pseudo_dir = './' ,
 /
 &SYSTEM
                       ibrav = 2,
                   celldm(1) = {alat},
                         nat = 1,
                        ntyp = 1,
                     ecutwfc = {ecut} ,
 /
 &ELECTRONS
 /
 &IONS
 /
 &CELL
 /
ATOMIC_SPECIES
   Cu   63.546  Cu.rel-pbe-dn-kjpaw_psl.0.2.UPF
ATOMIC_POSITIONS crystal 
   Cu      0.000000000    0.000000000    0.000000000    
K_POINTS automatic 
  {k} {k} {k}   0 0 0 

