 &CONTROL
                 calculation = 'scf' ,
                      outdir = './tmp' ,
                  pseudo_dir = './' ,
 /
 &SYSTEM
                       ibrav = 3,
                   celldm(1) = {alat},
                         nat = 1,
                        ntyp = 1,
                     ecutwfc = {ecut} ,
 /
 &ELECTRONS
 /
 &IONS
 /
 &CELL
 /
ATOMIC_SPECIES
   Fe   56.00000  Fe.pbe-spn-kjpaw_psl.0.2.1.UPF 
ATOMIC_POSITIONS crystal 
   Fe      0.000000000    0.000000000    0.000000000    
K_POINTS automatic 
  {k} {k} {k}   0 0 0 

