 &CONTROL
  calculation = 'scf' ,
  outdir = './tmp' ,
  prefix = 'Al111_bulk',
  pseudo_dir = './' ,
  tprnfor = .True.,
  tstress = .True.,
 /
 &SYSTEM
  ibrav = 4,
  celldm(1) = {alat},
  celldm(3) = 2.44949,
  nat = 3,
  ntyp = 1,
  ecutwfc = 50,
  ecutrho = 250,
  occupations = 'smearing',
  smearing = 'cold',
  degauss = 0.025,
 /
 &ELECTRONS
  diagonalization = 'david',
  conv_thr = 1.D-8,
  mixing_beta = 0.7,
 /
ATOMIC_SPECIES
   Al   26.98  Al.pbe-n-van.UPF
ATOMIC_POSITIONS crystal 
   {atompos}
K_POINTS Automatic
  {k1} {k1} {k3} 1 1 1
