 &CONTROL
  calculation = 'relax' ,
  outdir = './tmp' ,
  prefix = 'Al_111_{nslab}_{nvac}',
  pseudo_dir = './' ,
  tprnfor = .True.,
  tstress = .True.,
 /
 &SYSTEM
  ibrav = 4,
  celldm(1) = {alat},
  celldm(3) = {calat},
  nat = {nat},
  ntyp = 1,
  ecutwfc = 30,
  ecutrho = 150,
  occupations = 'smearing',
  smearing = 'cold',
  degauss = 0.025,
 /
 &ELECTRONS
  diagonalization = 'david',
  conv_thr = {conv_thr},
  mixing_beta = 0.3,
  mixing_mode = 'local-TF'
 /
 &IONS
  ion_dynamics = 'bfgs',
 /
ATOMIC_SPECIES
  Al   26.98   Al.pbe-n-van.UPF
ATOMIC_POSITIONS crystal 
{atompos}
K_POINTS Automatic 
  {k} {k} 1  0 0 0
