 &CONTROL
  calculation = 'scf' ,
  outdir = './tmp' ,
  prefix = 'Al',
  pseudo_dir = './' ,
  tprnfor = .True.,
  tstress = .True.,
 /
 &SYSTEM
  ibrav = 2,
  celldm(1) = {alat},
  nat = 1,
  ntyp = 1,
  ecutwfc = 30,
  ecutrho = 150,
  occupations = 'smearing',
  smearing = 'cold',
  degauss = 0.025,
 /
 &ELECTRONS
  diagonalization = 'david',
  conv_thr = 1.D-8,
  mixing_beta = 0.7,
 /
ATOMIC_SPECIES
   Al   26.98  Al.pbe-n-van.UPF
ATOMIC_POSITIONS crystal 
   Al   0.0   0.0    0.0    
K_POINTS automatic 
  {k} {k} {k} 0 0 0 

